<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="song">
        {{ song.name }} details
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="song">
    <h1>{{song.name}}</h1>
    <h2>{{song.artist}}</h2>
    <img [src]="song.image" alt="song image">
    <span>Duration: {{song.duration}} min</span>
    <span>Genre: {{song.genre}}</span>
    <span>Released on: {{song.releaseDate}}</span>
    <span>Album: {{song.album}}</span>
    <span>Popularity: {{ song.popularity }}</span>
    <span>Added from: {{ song.geolocation}}</span>
    <!--div> Da problemas de CORS xd
      <audio [src]="song.href"></audio>
    </div-->
  </ion-card>
  <ion-button (click)="addComment()">Add comment</ion-button>
<div *ngIf="song">
  <app-comments [songId]="song._id"></app-comments>

</div>
</ion-content>
