<ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Comment on {{ song.name }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="submitForm()">
    <div>
      <ion-label for="comment">Comment:</ion-label>
      <textarea id="comment" [(ngModel)]="commentText" name="commentText" required></textarea>
    </div>
    <div>
      <ion-label for="rating">Rating:</ion-label>
      <ion-input type="number" id="rating" [(ngModel)]="rating" min="0" max="5" name="ratingValue" required />
    </div>
    <ion-button type="submit">Submit</ion-button>
  </form>

</ion-content>
