<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List
    </ion-title>
    <ion-buttons *ngIf="this.isLogged" slot="end">
      <ion-button (click)="goToInsertSong()">
        Insert song 
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()">
        Logout 
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-list></app-list>
</ion-content>
