<h2>Insert new song</h2>
<div *ngIf="formValidation">
  <div class="formContainer">
    
<form class="form" [formGroup]="formValidation" (submit)="insertarCancion()">
  <ion-item>
    <ion-label>Title:</ion-label>
    <ion-input type="text" formControlName="name" [(ngModel)]="song.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Artist:</ion-label>
    <ion-input type="text" formControlName="artist" [(ngModel)]="song.artist"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Album:</ion-label>
    <ion-input type="text" formControlName="album" [(ngModel)]="song.album"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Release date:</ion-label>
    <ion-input type="date" formControlName="releaseDate" [(ngModel)]="song.releaseDate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Genre:</ion-label>
    <ion-input type="text" formControlName="genre" [(ngModel)]="song.genre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Duration:</ion-label>
    <ion-input type="number" formControlName="duration" [(ngModel)]="song.duration"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Image:</ion-label>
    <ion-input type="text" formControlName="image" [(ngModel)]="song.image"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>URL:</ion-label>
    <ion-input type="text" formControlName="href" [(ngModel)]="song.href"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Popularity:</ion-label>
    <ion-input type="number" formControlName="popularity" [(ngModel)]="song.popularity"></ion-input>
  </ion-item>
  <div>
    <ion-button type="submit" [disabled]="!formValidation.valid">Insert song</ion-button>
  </div>
  
</form>

</div>
  </div>