<div class="filterContainer">
  <div>
    <div *ngIf="this.songs.length == 0">
      <h1 class="text-center">No hay canciones</h1>
    </div>
    <div *ngIf="this.songs.length > 0">  
      <ion-list>
        <ion-item *ngFor="let song of songs">
          <ion-avatar slot="start">
            <img [src]="song.image">
          </ion-avatar>
          <ion-label>
            <h2>{{ song.name }}</h2>
            <p>{{ song.artist }}</p>
          </ion-label>
          <ion-button (click)="goToSongDetail(song._id!)">View</ion-button>
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>