<section>
  <article>
    <h2>Add comment</h2>
    <ion-item>
      <ion-label position="floating">Author</ion-label>
      <ion-input [(ngModel)]="author" type="text" aria-label="Autor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Comment</ion-label>
      <ion-textarea [(ngModel)]="commentText" aria-label="Comment"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Stars</ion-label>
      <ion-range [(ngModel)]="stars" aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="0"
        [max]="5"></ion-range>
    </ion-item>
    <ion-button (click)="sendComment()">Add</ion-button>
  </article>
  <article>
    <h2>Comments</h2>
    <ion-list>
      <ion-item *ngFor="let comment of comments">
        <ion-label>
          <h3>@{{comment.author}}</h3>
          <p>{{comment.commentText}}</p>
          <p>{{comment.stars}}</p>
        </ion-label>
        <ion-fab-button *ngIf="hideDelete" color="danger" size="small" (click)="handleDeleteAlert(comment._id!)">
          <ion-icon name="close-circle"></ion-icon>
        </ion-fab-button>
      </ion-item>
    </ion-list>
  </article>
</section>