.filterForm {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 1rem;
}

.filterContainer {
    display: grid;
    place-items: center;
    margin: 1rem;
}

.filterItem {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;
}