<div class="filterContainer">
  <div class="filterForm">
    <div class="filterItem">
      <input type="radio" name="tipoBusqueda" value="nombre" [(ngModel)]="tipoBusqueda" (change)="resetTerminoBusqueda()" />
      <label>Name</label>
    </div>
    <div class="filterItem">
      <input type="radio" name="tipoBusqueda" value="artista" [(ngModel)]="tipoBusqueda" (change)="resetTerminoBusqueda()" />
      <label>Artist</label>
    </div>
    <div class="filterItem">
      <input type="radio" name="tipoBusqueda" value="fecha" [(ngModel)]="tipoBusqueda" (change)="resetTerminoBusqueda()" />
      <label>Date</label>
    </div>
    <div *ngIf="this.isLogged" class="filterItem">
      <input type="radio" name="tipoBusqueda" value="spotify" [(ngModel)]="tipoBusqueda" (change)="resetTerminoBusqueda()" />
      <label>Use Spotify</label>
    </div>
    <div class="filterItem">
      <input  type="text" [(ngModel)]="terminoBusqueda" *ngIf="tipoBusqueda !== 'fecha'" placeholder="Search"/>
      <input  type="date" [(ngModel)]="terminoBusqueda" *ngIf="tipoBusqueda === 'fecha'"/>
      <button (click)="buscar()">Search</button>
    </div>
  </div>
  <div>
    <div *ngIf="this.songs.length == 0">
      <h1 class="text-center">{{textoPatata}}</h1>
    </div>
    <div *ngIf="this.songs.length > 0">
      <div *ngIf="tipoBusqueda == 'spotify'">
        <ion-button [disabled]="!areSongsSelected()" (click)="addSelectedSongs()">Add selected songs</ion-button>
      </div>
      <ion-list>
        <ion-item *ngFor="let song of this.songs">
          <img src="{{song.image}}" alt="Could not load image"/>
          <ion-label>
            <h2>{{ song.name }}</h2>
            <p>{{ song.artist }}</p>
          </ion-label>
          <input *ngIf="tipoBusqueda == 'spotify'" type="checkbox" [checked]="selectedSongs!.get(song)" (change)="selectSong(song)">
          <ion-button *ngIf="tipoBusqueda != 'spotify'" (click)="goToSongDetail(song._id!)">View</ion-button>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="this.songs.length < 1">
      <p>There are no songs to display</p>
    </div>
  </div>
</div>